:root {
    box-sizing: border-box;
    color: white;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2017/04/05/01/20/wood-2203740_1280.jpg");
}

#header {
    background: black;
    padding: 5px;
    font-family: 'Cookie', cursive;
}

.logo {
    float: left;
    width: 20%;
}

.contact-info .tel {
    font-size: 1.2rem;
    margin: 25px auto 0px;
}

.menu ul li {
    display: inline-block;
    padding-right: 20px;

}

.menu ul li a {
    color: white;
    font-size: 1.4rem;
}

.menu ul li a:hover {
    color: #FFD77F;

}

.menu {
    float: left;
    width: 60%;
    text-align: center;
}

.contact-info {
    float: left;
    width: 20%;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.logo img {
    width: 60px;
    margin-left: 10px;

}

.slider-box {
    height: 200px;
    background-color: black;
}

.slider-half-item {
    width: 50%;
    float: left;
    height: 100%;
    font-family: cursive, Geneva;
    padding: 10px;
}

.slider-half-item article {
    margin: 2rem;
}

.slider-half-item article .button-section {
    margin-top: 2rem;
}

.slider-half-item .button {
    text-transform: uppercase;
    padding: 8px;
    text-decoration: none;
    margin: 2px;
    font-size: 0.7rem;
}

.order-button {
    color: #FFD77F;
    border: 2px solid #7fd7ff;
}

.book-button {
    color: #FFD77F;
    border: 2px solid #7fd7ff;
}